@import 'variables';
@import 'functions';

body {
  @include zeroAround;
  background: $lightw;
}

header {
  @include zeroAround;
  @include flexControl(row);
  align-items: center;
  width: 100vw;
  height: 11vh;
  background: $lightc;
  h1 {
    @include zeroAround;
    padding: 1vw 1vw 0 1vw;
    font-family: $titlefont;
    color: $darkw
  }
  .logo {
    @include flexControl(column);
    h2 {
      @include zeroAround;
      font-family: $titlefont;
      color: $darkw;
      padding:  0 1vw 1vw 1vw;
      font-size: 1.5vh;
      font-weight: 300;
      font-style: italic;
      align-self: flex-end;
    }
  }
}
