@import 'variables';
@import 'functions';

body {
  @include zeroAround;
  background: $lightw;
}

header {
  @include zeroAround;
  @include flexControl(row);
  align-items: center;
  width: 100vw;
  height: 10vh;
  background: $lightc;
  h1 {
    @include zeroAround;
    padding: 1vw 1vw 0 1vw;
    font-family: $titlefont;
    color: $darkw
  }
  .logo {
    @include flexControl(column);
    h2 {
      @include zeroAround;
      font-family: $titlefont;
      color: $darkw;
      padding:  0 1vw 1vw 1vw;
      font-size: 1.5vh;
      font-weight: 300;
      font-style: italic;
      align-self: flex-end;
    }
  }
}

img {
  height: 100px;
}

main {
  font-family: $bodyfont;
  display: grid;
  grid-gap: 3vw;
  align-items: stretch;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 60vh 20vh;
}

form {
  background-color: $highmedc;
  color: $darkw;
  border-radius: 15px;
  margin: 1vh;
  @include flexControl(column)
  padding: 2vw;
  align-content: center;
  justify-content: space-between;
  h3 {
    @include zeroAround;
    font-family: $titlefont;
  }
  h5 {
    @include zeroAround;
    padding-left: 1vw;
    // font-style: italic;
    font-weight: 600;
  }
  input {
    border: none;
    height: 3vh;
    background-color: $lightc;
    opacity: 70%;
  }
  img {
    height: 15vh;
    width: 20vw;
    border-radius: 25px;
    align-self: center;
  }
}
