// mixins
@mixin zeroAround {
  margin: 0;
  padding: 0;
}

@mixin flexControl ($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
}

@mixin gridArea ($bgc, $tc, $bc) {
  background-color: $bgc;
  color: $tc;
  border-radius: 15px;
  border: 2.5px solid $bc;
  margin: 1vh;
  padding: 2vw;
  h3 {
    @include zeroAround;
    font-family: $titlefont;
  }
  h5 {
    @include zeroAround;
    padding-left: 1vw;
    font-weight: 600;
  }
}
