// colors
$darkc: hsl(33, 71%, 9%);
$darkw: hsl(325, 31%, 19%);
$lowmedc: hsl(303, 22%, 35%);
$lowmedw: hsl(45, 99%, 57%);
$highmedc: hsl(268, 31%, 71%);
$highmedw: hsl(57, 100%, 69%);
$lightc: hsl(0, 0%, 92%);
$lightw: hsl(344, 100%, 96%);

// Fonts
$titlefont: 'Lobster Two', cursive;
$bodyfont: 'Open Sans', sans-serif;
